# Ignore everything except dist and README.md
*
!dist/
!README.md
!LICENSE
!llms-install.md

# Specific exclusions
src/
tsconfig.json
.gitignore
.env.example
todo.md
changelog/
.github/
scripts/
test/
